* { 
    font-family: arial; 
}
body, html { 
    height: 100%;
    margin: 0px; 
    background: #FFF;
}
header {
    position: relative; float : left;
    width: 100%; height:50px; 
    background: #2c3d58;
}
#menuicon {
    position: relative; float : left;
    margin: 10px;
}
#headertext {
    position: relative; float : left;
    font-size: 18pt; 
    color: #FFF;
    margin: 16.5px auto auto 50px;
}
#content {
    position: relative; float: left;
    width: 100%; 
    height: calc(100% - 50px);
}
#stations {
    position: relative;
    float: left;
    width: calc(20% - 1px);
    height: 100%;
    background: #8e8e8e;
    border-right: 1px solid #CCC;
}
.hide {
   animation-duration: 2s;
   width: 0% !important;
}
#stations h1 {
    margin:1px;
    display: block;
    text-align: center;
    padding: 5px 0px 5px 0px;
    font-size:14pt;
    font-weight: bold;
    color:#555;
    background: #CCC;
}
.stationinfo {
    position: relative;
    float: left;
    /* width: calc(100% - 1px); */
    background: #FDFDFD;
    margin: 0px 0px 0px 1px;
    border-bottom: 1px solid #CCC;
    cursor: pointer;
}
.stationinfo:hover {
    background: #F5F5F5;
}
.stationicon {
    position: relative;
    float: left;
    margin:5px;
}
.stationicon img {
    height: 42px;
}

.stationname {
    position: relative;
    float: left;
    width:calc(100% - 52px);
    margin:5px auto 0px 0px;
    font-size:14pt;
    font-weight: bold;
    color: #555;
}

.stationip {
    position: relative;
    float: left;
    margin:5px auto 0px 0px;
    font-size:10pt;
    color: #777;
}

.chart {
    position: relative;
    float: left;
    width: 50%;
    height: 45%;
    margin-top: 58px;
}


/******************SIDE BAR************************/
.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #1d0261;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: #c9cacf;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
